@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: roboto, sans-serif;
}
nav{
    background-color: var(--bs-white, #FFF)
    !important;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.20);
}
.product-name-input {
    width: 282px;
    height: 38px;
}
.form-select{
    width: 218px;
    height: 36px;
}
.form-label[type="file"]{
    width: 210px;
    color: var(--bs-blue, #0D6EFD)!important;
    border: 1px solid var(--bs-blue, #0D6EFD);
    
}
.form-label[type="file"]::file-selector-button{
    color: white;
    background: var(--bs-blue, #0D6EFD)!important;
    border: none;
    padding: 4px;
}
.image-product input[type="file"]{
    width: 210px;
    color: var(--bs-blue, #0D6EFD);
    border-radius: 4px;
    border: 1px solid var(--bs-blue, #0D6EFD);
    
}
.image-product input[type="file"]::file-selector-button{
    color: white;
    background: var(--bs-blue, #0D6EFD);
    border: none;
    padding: 4px;
}

.submit {
    width: 557px ;
    height: auto;
    padding: 9px 209.408px 9px 209.592px;
    margin-top: 129px;
}